@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    margin: 0;
}
body {
    font-family: "Mulish", sans-serif;
}
h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}
p, li {
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}

.span {
    color: rgb(255, 84, 0);
}

.container {
    width: 90%;
    margin: 50px auto;
    border-radius: 16px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 280px;
}

.logo img {
    width: 40px;
    height: 56px;
    margin-right: 10px;
}

.nav-options {
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

.nav-options p {
    cursor: pointer;
}

.explore-your-travel {
    background-image: linear-gradient(180deg, rgba(19, 19, 24,0.8) 0%, rgba(19, 19, 24,0) 100%), url("../Images/hero-image.png");
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-container h3 {
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.explore-container p {
    color: whitesmoke;
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    margin: auto;
}

.travel-inputs {
    margin: 2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(4px);
}

input, select {
    width: 175px;
    height: 50px;
    padding: 0 1.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0.7rem 1.2rem;
    color: white;
    background-color: rgb(255, 84, 0);
    border: 1px solid rgb(255, 84, 0);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}

.popular-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.text-content p, .text-content li {
    font-size: 16px;
    line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.text-content p, .text-content li, .text-content h3 {
    text-align: left;}

.row-1, .row-2, .row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}
.row-2 {
    grid-template-columns: 0.90fr 1.30fr 0.80fr;
}
.row-3 {
    grid-template-columns: 0.80fr 1.20fr;
}
.country-card {
    position: relative;
}

.country {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transform: translate(-50%, 50%);
}

.your-destination img {
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}